@tailwind base;
@tailwind components;
@tailwind utilities;

/* Used to apply even rows.. select the third row and every 4th row,... then it's next sibling (attached row detail) as well */
.every_two_rows:nth-of-type(4n + 3) {
  background-color: rgb(255 255 255 / 0.05);
  & + .every_two_rows {
    background-color: rgb(255 255 255 / 0.05);
  }
}
/* When an input with focus class is selected, show the next sibling '.show_on_focus'
   element
   http://jsfiddle.net/69zbhogL/
*/
input.focus:focus ~ .show_on_focus {
  display: block;
}

.show_on_focus {
  display: none;
}
